.textarea-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
}
.textarea-label {
    color: white;
    font-family: "Poppins";
    font-weight: 400;
}
.textarea {
    width: 100%;
    font-family: "Poppins";
    background: none;
    border: none;
    padding: 12px;
    color: white;
    border: 2px solid #505050;
    border-radius: 8px;
    font-size: 18px;
    transition: all .1s;
    min-height: 200px;
    height: 100%;
}
.textarea::placeholder, .textarea::placeholder {
    color: rgb(96, 96, 96);
}
.textarea:focus, .textarea:focus {
    outline: none;
    border: 2px solid var(--yellow);
}
.valued {
    border: 2px solid var(--yellow);
}