.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.home-header {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    width: 100%;
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 5px;
    z-index: 10;
    position: absolute;
    top: 0;
}
.link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto Serif";
    cursor: pointer;
}
.shop-container {
    justify-self: flex-end;
    position: relative;
    transition: all 1s;
}
.tooltip-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.tooltip-triangle {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, .3);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.advise {
    background: rgba(255, 255, 255, .3);
    padding: 5px;
    border-radius: 5px;
    color: white;
    color: rgba(15, 15, 15, 1);
}
.tooltip-container.visible {
    opacity: 1;
}
.link:first-child {
    justify-self: flex-end;
}
.welcome {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (min-width: 1280px) {
    .welcome {
        width: 80%;
        width: 100vw;
        padding: 0 100px;
        /* background: rgb(45, 69, 106); */
    }
    .home-header {
        border-bottom: 1px solid rgba(15, 15, 15, .25);
        position: inherit;
    }
    .link {
        color: rgb(15, 15, 15);
    }
    .advise {
        color: rgba(15, 15, 15, 1);
    }
}
.welcome-texts {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(66, 66, 66, 0.3);
}
.welcome-title {
    font-size: 80px;
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 90px;
}
.welcome-desc {
    font-size: 18px;
    color: #ddd;
    text-align: center;
    font-weight: 400;

}
.welcome-button {
    margin-top: 50px;
}
.form-section {
    width: 100%;
}