.slider {
  position: relative;
  top: 0;
  width: 100%;
}
.desktop {
  display: none;
}
@media (min-width: 1280px) {
  .mobile {
    display: none;
  }
  .slider {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 50px;
    height: 100vh;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
  }
  .hero-imgs-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
  }
  .hero-img-container {
    width: 200px;
    height: 600px;
    transition: all .3s ease;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-img-container.actual {
    width: 400px;
  }
  .hero-img {
    height: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
  }
  .hero-title {
    font-size: 125px;
    color: rgb(15, 15, 15);
    text-align: center;
    font-weight: 400;
    line-height: 100px;
    align-self: center;
    font-family: "Roboto Serif";
  }
  .hero-desc {
    font-size: 18px;
    color: #ddd;
    color: rgb(15, 15, 15);
    text-align: center;
    font-weight: 400;
    grid-row: 2;
    grid-row: 2;
    font-family: "Roboto Serif";
  }
  .hero-button {
    font-size: 24px;
    padding: 10px;
    background: none;
    font-family: "Roboto Serif";
    border-radius: 10px;
    border-width: 3px;
    border-image: linear-gradient(90deg, rgb(255, 193, 48) 0%, rgb(172, 79, 29) 110%);
    border-image-slice: 1; 
    height: fit-content;
    color: rgb(15, 15, 15);
    grid-column: 2;
    grid-row: 3;
    margin: 20px 0;
    transition: all .1s;
    backdrop-filter: blur(3px);
    cursor: pointer;
  }
  .hero-button:active {
    transform: scale(0.96);
    backdrop-filter: none;
  }
}
.img-container {
  max-width: 100%;
  aspect-ratio: 3/4;
  display: flex;
  overflow: hidden;
}
.img {
  width: auto;
  height: 100%;
  transition: all .5s;
  transform: translateX(-100%);
}
.content {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(66, 66, 66, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 50% auto auto auto;
  gap: 10px;
}
.arrow-left, .arrow-right {
  grid-column: 1;
  grid-row: 1/5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-right {
  grid-column: 3;
}
.current-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* position: absolute; */
  width: 100%;
  left: calc(50% - 1rem);
  z-index: 100;
  grid-column: 2;
  grid-row: 4;
  padding: 20px;
}
.current {
  background: rgba(255, 255, 255, 1);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: all .5s;
}
.current.active {
  transform: scale(1.5);
}
.welcome-title {
  font-size: 80px;
  font-size: 4rem;
  color: white;
  text-align: center;
  font-weight: 400;
  line-height: 70px;
  align-self: flex-end;
  grid-column: 2;
  grid-row: 1;
  font-family: "Roboto Serif";
}
.welcome-desc {
  font-size: 18px;
  color: #ddd;
  text-align: center;
  font-weight: 400;
  grid-row: 2;
  grid-row: 2;
  font-family: "Roboto Serif";
}
.welcome-button {
  font-size: 24px;
  padding: 10px;
  background: none;
  font-family: "Roboto Serif";
  border-radius: 10px;
  border-width: 3px;
  border-image: linear-gradient(90deg, rgb(255, 193, 48) 0%, rgb(172, 79, 29) 110%);
  border-image-slice: 1; 
  height: fit-content;
  color: white;
  grid-column: 2;
  grid-row: 3;
  margin: 20px 0;
  transition: all .1s;
  backdrop-filter: blur(3px);
  cursor: pointer;
}
.welcome-button:active {
  transform: scale(0.96);
  backdrop-filter: none;
}
@media (min-width: 1280px) {
  .welcome-button {
    justify-self: center;
    padding: 12px 30px;
    cursor: pointer;
  }
}
/* .desktop {
  display: none;
} */
@media (min-width: 1280px) {
  .mobile {
    display: none;
  }
}